body {
    margin: 0 auto;
    max-width: 1400px;
    overflow-x:hidden;
    font-family: Helvetica, sans-serif;
}
.wrapper {
}
.container {
}
.header {
    
}
.nav {
    width: 1400px;
    background-color: #373A3C;
    height: 60px;  
    display: flex;
    
}
.header_xbox {
    position: absolute;
    top: 20px;
    left: 200px;
    color: #8DD83D;
    font-size: 18px;
}
.nav__text {
    display: flex;
    padding: 21px 10px 23px 567px;

}
.img {
    width: 12px;
    height: 6.55px;
    padding-left: 8.02px;
}
.nav__text_1 {
    color: #FFFFFF;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}
.nav__text_2 {
    padding-left: 25px;
    color: #FFFFFF80;
    font-family: Helvetica, sans-serif;
}
.nav__text_3 {
    padding-left: 28px;
    font-family: Helvetica, sans-serif;
    color: #FFFFFF80;

}

.button {

}
.button__search {
    width: 210px;
    height: 38px;
    border-radius: 4px;
    border: none;
    margin: 11px 30px 37px;
    padding: 8px 15px;
}
.imgperson {
    width: 10px;
}
.nav__text2 {
    display: flex;
    align-items: center;

}
.nav__text2_title {
    color: #FFFFFF80;
    font-family: Helvetica, sans-serif;
}
.img2 {
padding-top: 20px;
}
.main {

}
.main__container {

    position: relative;
    top: 0;
}

.main__img {
    height: 644px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.main__content {
    height: 644px;
}

.link {
    display: block;
    width: 135px;
    height: 648px;
    position: absolute;
    left: 0;
     
   }
   .link a {
     width: 135px;
    height: 648px;
    position: relative;
    top: 18%;
    left: 0;
    display: block; /* Ссылка как блочный элемент
 /* Выравнивание по центру */
    height: 50%; /* Высота на весь слой */
    color: #666; 
}
.img_arrow {
    position: relative;
    top: 310px;
    left: 58px;
}

.main__content_text1 {
    position: relative;
    font-size: 36px;
    top: 206px;
    left: 831px;
    z-index: 3;
    color: #FFFFFF;
    width: 180px;
}
.main__content_text2 {
    position: relative;
    font-size: 24px;
    top: 206px;
    left: 840px;
    z-index: 3;
    color: #FFFFFF;
    width: 132px;
}
.main__button {
    position: relative;
    top: 350px;
    left: 831px;

}
.main__button_klick {
    background-color: #8DD83D;
    border-radius: 4px;
    width: 136px;
    height: 38px;  
    font-size: 16px;
    color: #FFFFFF; 
    border: none;
    font-family: Helvetica, sans-serif;
    line-height: 24px;
    cursor: pointer;

}
.main__button2 {
    position: relative;
    top: 312px;
    left: 1000px;
}
.main__button_klick2 {
    background-color: rgba(104, 108, 111, 1) ;
    border-radius: 4px;
    width: 136px;
    height: 38px;
    border: none;
    color: #FFFFFF;
    line-height: 21px;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
}


.link2 {
    display: block;
    width: 135px;
    height: 648px;
    position: absolute;
    top: 50px;
    right: 0;
     
   }
   .link_a {
     width: 135px;
    height: 648px;
    position: relative;
    top: 18%;
    right: 0;
    display: block; /* Ссылка как блочный элемент
 /* Выравнивание по центру */
    height: 50%; /* Высота на весь слой */
    color: #666; 
}
.img_arrow2 {
    position: absolute;
    top: 260px;
    right: 62px;
}
.main__footer {
}
.main__footer_content {
    display: flex;
    position: absolute;
    left: 675px;
    bottom: 43px;
}
.main__footer_content .main__footer_icon2 {
    margin-left: 10px;
}
.main__footer_icon1 {
    margin: 0;
}
.main_section__container {
    position: relative;
    max-width: 1400px;
    height: 856px;
    background: url(img2/Rectangle.png) ;
}
.main_icon {
    text-align: center;
}
.main_icon1 {
    margin-top: 64px;
}
.main_section__text {
    text-align: center;
}
.main_section__text1 {
    margin-top: 16px;
    font-family:Helvetica, sans-serif;
    font-size: 48px;
    line-height: 56.25px;
    color: #FFFFFF;
}
.main_section__text2 {
    font-family:Helvetica, sans-serif;
    font-size: 36px;
    line-height: 42.19px;
    color: #FFFFFF;
}
.main_section_flex {
display: flex;
margin-top: 42px;
/* justify-content: center; */

}
.main_section_flex1{
    background-color: #FFFFFF;
    width: 320px;
    height: 420px;
    margin-left: 162px;
}
.main_section_flex1_container {
    position: relative;
}

.main_section_flex1_img img {
    width: 100%;
    height: 180px;
}
.main_section_flex1_subtext {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    line-height: 21.09px;
    margin: 16px 0 0 22px;
    color: #435766;
}
.main_section_flex1_text {
    font-size: 24px;
    line-height: 28.13px;
    color: #435766;
    margin: 13px 0 0 22px;
    font-family: Helvetica, sans-serif;
}
.main_section_flex1_button {

}
.flex_button {
    width: 278px;
    height: 60px;
    border: none;
    background-color: #8DD83D;
    padding: 0;
    margin: 38px 0 0 21px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    font-family: Helvetica, sans-serif;
    border-radius: 4px;
}
.main_section_flex2{
    background-color: #FFFFFF;
    width: 320px;
    height: 420px;
    margin: 0 60px 0 60px;
}
.main_section_flex2_container {
}
.main_section_flex2_img {
    width: 318px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img_M {

    width: 61px;
    height: 42px;
    margin: 0 8px 0 0;
}
.img_I {
    width: 10px;
    height: 42px;
    margin: 0 8px 0 0;
}
.img_X1 {
    width: 23px;
    height: 43px;
    margin: 0 3px 0 0;
}
.img_X2 {

    width: 23px;
    height: 43px;
    margin: 0 4px 0 0;
}
.img_E {
    width: 38px;
    height: 43px;
    margin: 0 7px 0 0;
}
.img_R {
    width: 24px;
    height: 42px;
}

.main_section_flex2_subtext {
    margin: 22px 0 0 21px;
    font-size: 18px;
    line-height: 21.09px;
    color: #435766;
}
.main_section_flex2_text {
    margin: 13px 0 0 21px;
    font-size: 24px;
    line-height: 28.13px;
    color: #435766;
}
.main_section_flex2_button {
}
.flex_button {
}
.img_E {
    width: 38px;
    height: 43px;
}
.main_section_flex3{
    background-color: #FFFFFF;
    width: 320px;
    height: 420px;
}
.main_section_flex3_container {
    position: relative;
}

.main_section_flex3_img img {
    width: 200px;
    height: 113px;
    margin: 33px 59px;
}
.main_section_flex3_subtext {
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    line-height: 21.09px;
    margin: 16px 0 0 22px;
    color: #435766;
}
.main_section_flex3_text {
    font-size: 24px;
    line-height: 28.13px;
    color: #435766;
    margin: 13px 0 0 22px;
    font-family: Helvetica, sans-serif;
}
.main_section_flex3_button {

}
.flex_button {
    width: 278px;
    height: 60px;
    border: none;
    background-color: #8DD83D;
    padding: 0;
    margin: 38px 0 0 21px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 21px;
    font-family: Helvetica, sans-serif;
    border-radius: 4px;
    cursor: pointer;
}
.middle {
    max-width: 1400px;
    height: 880px;
    position: relative;
}
.main__middle_text {
    
}
.main__middle_text1 {
    text-align: center;
    font-size: 36px;
    line-height: 42.19px;
    color: #FFFFFF;
    padding-top: 97px;
}
.main__middle_icon1 {
    position: absolute;
    top: 110px;
    right: 55px;
    width: 21px;
    height: 21px;
}
.main__middle_img {
    background: url(img2/Rectangle.png);
    width: 1400px;
    height: 880px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.main__middle_img img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
    
}
.main__middle_container {
    /* width: 100%;
    height: ; */
}
.main__middle_content_flex {
    display: flex;
}
.main__middle_content {
    width: 320px;
    height: 420px;
    margin: 53px 0 0 66px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.main__middle_content:hover {
    width: 352px;
    height: 462px;
    margin: 53px 0 0 16px;
    background-color: #FFFFFF;
    border-radius: 4px;

}
.main__middle_content_img img {
    width: 320px;
    height: 180px;
}
.main__middle_content:hover > .main__middle_content_img img {
    width: 352px;
    height: 198px;
}
.main__middle_content_title1 {
    font-size: 18px;
    line-height: 21.09px;
    color: #435766;
    margin: 22px 0 16px 21px;
}
.main__middle_content_title11 {
    font-size: 21px;
    line-height: 24.61px;
    color: #435766;
    margin-left: 21px;
    width: 270px;
}
.main__middle_content_button1 {
    text-align: center;
    width: 278px;
    height: 60px;
    margin: 43px 21px 27px;
    background-color: #8DD83D;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.main__middle_content:hover > .main__middle_content_button > .main__middle_content_button1 {
    background-color: hsl(89, 70%, 38%);
    width: 306px;
    height: 66px;
    text-align: center;
}
.main__middle_content2 {
    width: 320px;
    height: 420px;
    margin: 53px 0 0 16px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.main__middle_content2:hover {
    width: 352px;
    height: 462px;
    margin: 53px 0 0 16px;
    background-color: #FFFFFF;
    border-radius: 4px;

}
.main__middle_content_img2 img {
    width: 320px;
    height: 180px;
}
.main__middle_content2:hover > .main__middle_content_img2 img {
    width: 352px;
    height: 198px;
}
.main__middle_content_title2 {
    font-size: 18px;
    line-height: 21.09px;
    color: #435766;
    margin: 22px 0 16px 21px;
}
.main__middle_content_title2 {
    font-size: 21px;
    line-height: 24.61px;
    color: #435766;
    margin-left: 21px;
    width: 270px;
}
.main__middle_content_button22 {
    width: 278px;
    height: 60px;
    margin: 85px 21px 27px;
    background-color: #8DD83D;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.main__middle_content2:hover > .main__middle_content_button2 > .main__middle_content_button22 {
    background-color: hsl(89, 70%, 38%);
    width: 306px;
    height: 66px;
    text-align: center;
}
.main__middle_content3 {
    width: 320px;
    height: 420px;
    margin: 53px 0 0 16px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.main__middle_content3:hover {
    width: 352px;
    height: 462px;
    margin: 53px 0 0 16px;
    background-color: #FFFFFF;
    border-radius: 4px;

}
.main__middle_content_img3 img {
    width: 320px;
    height: 180px;
}
.main__middle_content3:hover > .main__middle_content_img3 img {
    width: 352px;
    height: 198px;
}
.main__middle_content_title3 {
    font-size: 18px;
    line-height: 21.09px;
    color: #435766;
    margin: 22px 0 16px 21px;
}
.main__middle_content_title3 {
    font-size: 21px;
    line-height: 24.61px;
    color: #435766;
    margin-left: 21px;
    width: 270px;
}
.main__middle_content_button33 {
    width: 278px;
    height: 60px;
    margin: 85px 21px 27px;
    background-color: #8DD83D;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.main__middle_content3:hover > .main__middle_content_button3 > .main__middle_content_button33 {
    background-color: hsl(89, 70%, 38%);
    width: 306px;
    height: 66px;
    text-align: center;
}
.main__middle_content4 {
    width: 320px;
    height: 420px;
    margin: 53px 0 0 16px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.main__middle_content4:hover {
    width: 352px;
    height: 462px;
    margin: 53px 0 0 16px;
    background-color: #FFFFFF;
    border-radius: 4px;

}
.main__middle_content_img4 img {
    width: 320px;
    height: 180px;
}
.main__middle_content4:hover > .main__middle_content_img4 img {
    width: 352px;
    height: 198px;
}
.main__middle_content_title4 {
    font-size: 18px;
    line-height: 21.09px;
    color: #435766;
    margin: 22px 0 16px 21px;
}
.main__middle_content_title4 {
    font-size: 21px;
    line-height: 24.61px;
    color: #435766;
    margin-left: 21px;
    width: 270px;
}
.main__middle_content_button44 {
    width: 278px;
    height: 60px;
    margin: 85px 21px 27px;
    background-color: #8DD83D;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.main__middle_content4:hover > .main__middle_content_button4 > .main__middle_content_button44 {
    background-color: hsl(89, 70%, 38%);
    width: 306px;
    height: 66px;
    text-align: center;
}

.main__middle_button2 {
text-align: center;
margin: 69px 0 0 0;
}
.main__middle_button_klick2 {
    background-color: rgba(104, 108, 111, 1) ;
    border-radius: 4px;
    width: 207px;
    height: 53px;
    border: none;
    color: #FFFFFF;
    line-height: 21px;
    font-size: 21px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
}
.main__footer {
    max-width: 1400px;
    height: 480px;
    position: relative;
}
.main__footer_container {
    display: flex;
    flex-direction: column;
}
.main__footer_text1 {
    margin: 114px 0 0 167px;
    font-size: 48px;
    line-height: 56.25px;
    color: #FFFFFF;
}
.main__footer_text2 {
    margin: 9px 0 0 167px;
    width: 470px;
    font-size: 24px;
    line-height: 28.13px;
    color: #FFFFFF;
}
.main__footer_buttons_flex {
    display: flex;
    flex-direction: row;
}
.main__footer_button {
    margin-left: 167px;
}
.main__footer_button_klick1 {
    margin: 37px 15px 0 0;
    background-color: #373A3C;
    border-radius: 4px;
    width: 207px;
    height: 60px;  
    font-size: 16px;
    color: #FFFFFF; 
    border: none;
    font-family: Helvetica, sans-serif;
    line-height: 21px;
    cursor: pointer;
}
.main__footer_button_klick22 {
    margin: 37px 0 0 0;
    background-color: #8DD83D;
    border-radius: 4px;
    width: 278px;
    height: 60px;
    border: none;
    color: #FFFFFF;
    line-height: 21px;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    cursor: pointer;
}
.main__footer_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.footer {
    max-width: 1400px;
    height: 395px;
    background-color: #373A3C;
}
.footer__container {
}
.footer__container_head {
    display: flex;
}
.footer__container_head ul li{
    list-style-type: none;
    
}
.list1 {
    font-size: 14px;
    line-height: 16.41px;
}
.xbox {
    font-size: 18px;
    line-height: 21.09px;
    color: #7DD42F;
}
ul {
    padding: 0;
    margin: 0;
}
.list1 {
    margin-top: 29px;
}
.head_block1 ul{
    margin: 58px 0 0 165px;

    
}

.head_block2 {

}
.footer__container_head ul li{
list-style-type: none;
    
}
.list1 {
    font-size: 14px;
    line-height: 16.41px;
}
.xbox {
    font-size: 18px;
    line-height: 21.09px;
    color: #7DD42F;
}
.list1 {
    margin-top: 29px;
}
.head_block2 ul{
    margin: 58px 0 0 335px;
}
.head_block3 {
    margin: 58px 0 0 277px;
}
.head_block3 ul{
    margin: 0 0 29px 0;
}
.head_block3_flex {
    display: flex;

}
.head_block3_flex_img1 {

}
.head_block3_flex_img2 {
    margin-left: 20px ;
}
.head_block3_flex_img3 {
    margin-left: 20px ;
}
.footer_band {
    width: 1200px;
    height: 2px;
    margin: 49px auto 0;
}
.footer__container_foot {
    display: flex;
    justify-content: space-between;
}
.footer__container_foot1 {
    margin: 19px 0 0 100px;
}
.footer__container_foot2 {
    margin: 19px 100px 0 0;
}
.list1 {
    font-size: 14px;
    line-height: 16.41px;
    color: #FFFFFF;
}